body {
h6{
  color: #F00000;
    font-size : 50px;
  text-align: center;
}
h1{
  color : #8B85C1;
  font-size: 75px;
    text-align: center;
}
h3{
  color:#06D6A0;
  font-size: 100px;
  text-align: center;
}
body {
  background-color : Black; 
}
}
